<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456802233234-211i0ambl8792jeh0q3f12fgrq08psoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456802233234-211i0ambl8792jeh0q3f12fgrq08psoc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>456802233234-hm6jds02754d7mteg33vcs0b97mrej13.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyJqE7-f0jJQm0QRHvLGXsX03KOGP9RYc</string>
	<key>GCM_SENDER_ID</key>
	<string>456802233234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.black</string>
	<key>PROJECT_ID</key>
	<string>black-f4591</string>
	<key>STORAGE_BUCKET</key>
	<string>black-f4591.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456802233234:ios:657193da048a451cb86f4b</string>
</dict>
</plist>